{% extends "base.html" %} {% block header-footer %} <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded bg-image text-bg-dark" style="
    background-image: url('{{blogs.0.blog_image.url}}');
    width: 100%;">
        <div class=" col-md-6 px-0">
            <h1 class="display-4 fst-italic"> {{blogs.0.title}} </h1>
            <p class="lead my-3">{{blogs.0.blog_content|slice:":150"|safe}}</p>
            <p class="lead mb-0"><a href="{% url 'blog:detail' blogs.0.title %}" class="text-white fw-bold">Continue
                    reading...</a></p>
        </div>
    </div>
    <div class="row mb-2"> {% for blog in blogs %} <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">{{blog.title}}</h3>
                    <div class="mb-1 text-muted">{{blog.published_date}}</div>
                    <p class="card-text mb-auto">{{blogs.blog_content|slice:":100"|safe}}</p>
                    <a href="{% url 'blog:detail' blog.title%}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block" style="width: 300px">
                    <img src="{{blog.blog_image.url}}" alt="" style="width: 100%;">
                </div>
            </div>
        </div> {% endfor %} </div>
</main> {% endblock header-footer %}