{% extends "base.html" %} {% block header-footer %} <div class="row align-items-md-stretch">
    <div class="h-100 m-5 bg-light border rounded-3">
        <div class="m-5">
            <h2>{{blog.title}}</h2>
            <p class="text-primary">- by {{blog.author.first_name}}</p>
            <p class="text-muted">published on: {{blog.published_date}}</p>
            <img class="p-4" style="width: 700px;  float: left; border-radius: 20px;" src="{{blog.blog_image.url}}"
                alt="">
            <p class="fs-4 p-2">{{blog.blog_content|safe}}</p>
            <button class="btn btn-outline-primary" type="button">{% if blog.featured %} Featured {% endif %}</button>
        </div>
    </div>
</div>
<p></p> {% endblock header-footer %}