<!DOCTYPE html>
<html lang="en"> {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolio|portfolio</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <!-- ------------- Nav Bar --------- -->
        <nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Eleventh navbar example">
            <div class="container-fluid fs-4">
                <a class="navbar-brand text-warning" href="{% url 'portfolio_app:portfolio_home' %}"><i
                        class="bi bi-house-fill"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio_app:resume' %}">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:blogs' %}">Blogs</a>
                        </li> {% if user.is_authenticated  %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:add_blog' %}">Add a Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio_app:post_project' %}">Add Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Logout</a>
                        </li> {% endif %} {% if user.is_authenticated  != True %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio_app:login' %}">Login</a>
                        </li> {% endif %}
                    </ul>
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!-- ----------- BLOCK START ----------- --> {% block header-footer %} {% endblock header-footer %}
        <!-- ----------- BLOCK END ----------- -->
        <!-- --------------- Foooter ---------- -->
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-github"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-linkedin"></i></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i
                            class="bi bi-stack-overflow"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-youtube"></i></a></li>
            </ul>
            <p class="text-center text-muted">© 2022 Santosh Rai</p>
        </footer>
    </div>
    <!-- --------------SCRIPT---------- -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>