{% extends "base.html" %} {% block header-footer %} <div class="container" style="max-width: 400px;">
    <main class="form-signin w-100 m-auto text-center">
        <form method="POST"> {% csrf_token %} <i class="bi bi-person-circle display-1 text-info text-center"></i>
            <h1 class="h3 mb-5 mt-2 fw-normal">Please sign in</h1>
            <div class="form-floating m-3">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                <label for="username">User Name</label>
            </div>
            <div class="form-floating m-3">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <label for="password">Password</label>
            </div>
            <button class="w-50 btn btn-lg btn-info" type="submit">Sign in</button>
        </form>
    </main>
</div> {% endblock header-footer %}